In [7]:
import pandas as pd
import numpy as np

In [8]:
dfMain = pd.read_csv('fq176_1_for_python_4.csv')
dfMain

,Point,Comment,Inspected,Inspection comment,SiO2(Mass%),TiO2(Mass%),Al2O3(Mass%),Cr2O3(Mass%),FeO(Mass%),MnO(Mass%),...,P(D.L.),Ni(D.L.),Fe(D.L.),Mn(D.L.),,Unnamed: 160,Bi(Net),Ar(Net),Br(Net),As(Net)
0,1,STD1_12_Hypersthene_p1 Grid 001x001,Hypersthene_12_grid1,is on STD1.,53.39,0.1220,1.0827,0.7298,15.47,0.5257,...,94,187,109,145,1177,,1392.4,1532.4,1619.1,1997.7
1,2,STD1_12_Hypersthene_p1 Grid 001x002,Hypersthene_12_grid1,NaN,53.48,0.1173,1.0766,0.7234,15.49,0.5101,...,106,184,109,146,1200,,1396.6,1555.2,1625.2,2004.0
2,3,STD1_12_Hypersthene_p1 Grid 001x003,Hypersthene_12_grid1,NaN,53.62,0.1190,1.0871,0.7318,15.44,0.5288,...,96,186,110,145,1186,,1396.9,1535.4,1627.2,1989.3
3,4,STD1_12_Hypersthene_p1 Grid 002x001,Hypersthene_12_grid1,NaN,53.57,0.1130,1.0857,0.7434,15.52,0.5244,...,98,182,111,141,1186,,1413.1,1533.1,1614.7,2006.3
4,5,STD1_12_Hypersthene_p1 Grid 002x002,Hypersthene_12_grid1,NaN,53.58,0.1200,1.1068,0.7485,15.49,0.5170,...,101,184,110,145,1196,,1397.1,1540.6,1632.4,1996.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1730,1731,3R53_AlmFRA1 Line 001,AlmFRA1_line1-5,NaN,35.99,0.0000,20.0400,0.0022,43.93,0.0306,...,107,205,126,161,1279,,4332.5,2660.3,4986.9,3526.8
1731,1732,3R53_AlmFRA1 Line 002,AlmFRA1_line1-5,NaN,36.02,0.0012,20.0000,0.0028,43.82,0.0153,...,118,202,127,163,1287,,4303.6,2670.6,4976.2,3552.1
1732,1733,3R53_AlmFRA1 Line 003,AlmFRA1_line1-5,NaN,36.01,0.0000,20.0600,0.0007,44.00,0.0235,...,112,204,127,161,1282,,4363.3,2668.6,4967.1,3530.8
1733,1734,3R53_AlmFRA1 Line 004,AlmFRA1_line1-5,NaN,36.07,0.0102,20.1100,0.0006,43.94,0.0208,...,112,205,126,162,1284,,4364.8,2631.4,4962.9,3512.9
1734,1735,3R53_AlmFRA1 Line 005,AlmFRA1_line1-5,NaN,36.00,0.0020,20.0800,0.0017,44.03,0.0164,...,111,203,127,164,1285,,4327.6,2648.3,4963.7,3551.4

In [33]:
filx1 = dfMain['Inspected'] == dfMain['Inspected'][50]
filx2 = dfMain['Inspected'] == dfMain['Inspected'][0]
tmp1 = dfMain[filx1].loc[:, [
    'SiO2(Mass%)', 'MgO(Mass%)']]

tmp2 = dfMain[filx2].loc[:, [
    'SiO2(Mass%)', 'MgO(Mass%)']]

t = pd.DataFrame()
pd.concat([t, tmp1.mean(), tmp2.mean()], axis = 1)

                   0          1
SiO2(Mass%)  54.7148  53.523333
MgO(Mass%)   17.7964  26.304444

In [26]:
tmp1.mean()

SiO2(Mass%)    54.7148
MgO(Mass%)     17.7964
dtype: float64

In [ ]:
el = 'SiO2'
plotList = []
for i in dfMain['Ispected']:
    fil = dfMain['Name'] == i
    #xdata = st.session_state.dfMain[fil].loc[:, 'Point Nr.']
    data = dfMain[fil].loc[:, ['SiO2', 'MgO']]
    #dat = ([i, np.mean(data)])
    plotList = plotList + dat